@font-face {
    font-family: 'montserrat';
    src: url('/Font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'sora';
    src: url('/static/Sora-Regular.ttf');
}
@font-face {
    font-family: 'epilogue';
    src: url('/static2/Epilogue-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
}
.image1{
    width: 144px;
    height: 76px;
}
.space{
    margin: 0px 10px 0px 10px;
}
.space2{
    margin: 0px 20px 0px;
}
.flex{
    display: flex;
}
.bg-img{
    background-size: cover;
    padding: 310px 0px;
    background-image: url('/Images/Hero\ section\ \(3\).png');
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}
.icon{
    margin: 5px 10px 0px 0px;
    font-size: 32px;
    color: #941b1e;
}
.mar{
    margin-right: 20px;
}
.par{
    font-size: 14px !important;
    font-family: 'montserrat';
    color: #000000;
    margin: 0px 0px 7px;
    /* margin-right: 20px; */
}
.color{
    color: #585858;
}
.jus-end{
    justify-content: end;
}
.py-16{
    padding: 16px 0px;
}
.py-32{
    padding: 32px 16px 0px 0px;
}
.border-h-b{
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
.icon:hover{
    color: #1d3467;
}
.gap-15{
    gap: 20px;
}
.menu li{
    font-weight: bold;
    font-size: 18px;
    font-family: 'montserrat';
    padding: 16px 0px;
}
.megamenu li{
    font-size: 16px;
    padding: 8px 0px;
}
.menu li a{
    color:#1d3467
}
.menu li a:hover{
    color: #941b1e;
}
.menu span{
    color: #941b1e;
}
.shadow{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
ul ul li{
    position: relative;
}
ul ul{
    display: none;
}
ul li:hover>ul{
    display: block;
}
img{
    width: 100%;
}
.megamenu{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 270px;
    /* height: 400px; */
    border-radius: 15px;
}
.megamenu li a{
    padding-left: 15px;
    color: #941b1e;
}
.megamenu li a:hover{
    color: #1d3467;
    background-color: rgba(210, 212, 236, 0.633);
}

.hero-bg{
    background-image: url('/Images/Service.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 335px;
}
.head{
    font-size: 45px;
    font-family: 'montserrat';
    color: #600b0d;
}
.head2{
    font-size: 18px;
    font-family: 'montserrat';
    color: #1d3467;
    margin: 16px 0px 0px;
}
.diiv{
    padding: 112px 0px;
    text-align: center;
}
.pad-mar{
    margin: 0px 40px;
    padding: 40px 80px;
}
.w-33{
    width: 33.33%;
    margin: 20px;
}
.group-bg{
    width: 100%;
    height: 592px;
}
.message{
    font-size: 33px;
    font-family: 'montserrat';
    color: #1d3467;
    margin: 40px 20px;
}
.para1{
    font-size: 22px;
    font-family: 'montserrat';
    color: #600b0d;
    padding: 8px 0px;
}
.para2{
    font-size: 16px;
    font-family: 'montserrat';
    color:#585858;
    padding: 0px 0px 8px;
}
.para3{
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 14px;
    font-family: 'montserrat';
    color: #000000;
}
.para3:hover{
    color: #600b0d;
}
.divv{
    padding: 0px 0px 30px 0px;
}
.map{
    padding: 0px 10px 30px;
    border-radius: 15px;
}
.wallpaper{
    width: 48px;
    height: 48px;
    margin: 6px 20px 0px 0px;
}
.review1{
    line-height: 40px;
    font-size: 16px;
    font-family: 'montserrat';
    color: #000000;
    margin: 0px 0px 8px;
}
.revi1{
    line-height: 40px;
    font-size: 14px;
    font-family: 'montserrat';
    color: #000000;
    margin: 0px 0px 0px 100px;
}
.review1:hover{
    color: blue;
}
.review2{
    color: rgb(241, 221, 33);
    margin: 0px 0px 12px;
}
.review3{
    line-height: 30px;
    font-size: 16px;
    font-family: 'montserrat';
    color: #000000;
}
.review4{
    font-size: 14px;
    font-family: 'montserrat';
    color: blue;
    margin: 4px 0px 16px;
}
.boorder-h-b{
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 0px 0px 12px;
}
.review5{
    font-size: 14px;
    font-family: 'montserrat';
    color:#000000;
    margin: 0px 0px 0px 10px;
}
.ic{
    margin: 0px 0px 0px 60px;
}
.blog1{
    font-size: 18px;
    font-family: 'montserrat';
    color:#1d3467;
}
.blog2{
    font-size: 32px;
    font-family: 'montserrat';
    color: #941B1E;
     margin-bottom: 70px;
}
.blog2 span{
    color: #600b0d;
    padding: 0px 0px 4px;
    border-bottom: 2px solid #1d3467;
}
.w-25{
    width: 25%;
}
.my-10{
    margin: 50px 0px;
}
.red-bg{
    background-color: #941b1dda;
    width: 100%;
    height: 290px;
}
.bg-bc{
    margin-left: 140px;
    width: 78px;
    height: 78px;
}
.bg-bc:hover{
    transform: scale(1.1);
    /* transform: rotate(50deg); */
}
.count1{
    line-height: 60px;
    text-align: center;
    font-size: 39px;
    font-family: 'montserrat';
    color: #ffffff;
}
.count2{
    text-align: center;
    font-size: 22px;
    font-family: 'montserrat';
    color: #ffffff;
}
.mar-20{
    margin: 40px 0px;
}
.footer1{
    line-height: 30px;
    font-size: 20px;
    font-family: 'sora';
    color: #000000;
    margin: 0px 0px 30px;
}
.margin-30{
    margin: 0px 0px 30px;
}
.f-i{
    font-size: 44px;
    color: #941b1d;
}
.f-i:hover{
    color: #1d3467d5;
}
.our{
    font-size: 26px;
    font-family: 'epilogue';
    color: #941b1d;
    margin: 0px 0px 16px;
}
.bg-bg{
    background-color: #f3f3f4;
}
.course a h1{
    line-height: 35px;
    font-size: 18px;
    font-family: 'sora';
    color: #000000;
    padding: 4px 0px;
}
.course a h1:hover{
    color: #1d3467;
}
.gallery{
    width: 100px;
    height: 100px;
}
.gap-4{
    gap: 8px;
    padding: 4px 0px;
}
.all-40{
    padding: 80px;
}
.last{
    letter-spacing: 1px;
    text-align: center;
    font-size: 16px;
    font-family: 'montserrat';
    color: #ffffff;
    background-color: #1d3467;
    padding: 16px 0px;
}
.last span{
    font-weight: bold;
}